.map {

	width: calc(100% - 16em);
	height: 100%;
	float: left;

}

.container {
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	float: left;

}

.footer {
	position: absolute;
	/*clear:both;*/
	text-align: center;

	bottom: 0;
	left: 0;
	right: 0;
}

.footer2 {
	padding: .2em .3em .2em;
	border-radius: .8em .8em 0 0;

	/*clear:both;*/

	font-size: .7em;
	display: inline-block;
	background-color: white;
}

.controlpanel {

	float: left;
	width: 15em;
	padding: .5em .5em;

	vertical-align: top;
	background-color: aliceblue;

}